body {
    background: url(../images/body/gray.png) repeat;
    -webkit-background-size: 144px 100px;
    background-size: 126px 100px;
}
.container {
    width: 80%;
    background: white;
    -webkit-box-shadow: 0 0 20px 0px black;
            box-shadow: 0 0 20px 0px black;
}
.wrapper {
    width: 100%;
    overflow: hidden;
    height: auto;
}
@font-face {
    font-family: Jameel;
    src: url('fonts/Jameel Noori Nastaleeq.ttf') format('truetype') ;
}
font {
    font-family: Jameel;
    letter-spacing: 1px;
    font-size: 28px;
    direction: rtl;
}
.navbar {
    margin: 0;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: white;
    float: right;
    width: 100%;
    background: #d9552c;
    -webkit-box-shadow: inset 0 5px 10px #133e40;
    box-shadow: inset 1px 1px 10px #611e09;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: white;
    width: 100%;
    background: #d9552c;
    float: right;
    -webkit-box-shadow: inset 0 5px 10px #133e40;
    box-shadow: inset 1px 1px 10px #611e09;
}
[data-notify="progressbar"] {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: auto;
}
.navbar ul li {
    margin: 3px auto;
}
.navbar-default {
    background: #004c6f;
    color: white;
    -webkit-border-top-left-radius: 0px;
            border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
            border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 6px;
            border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
            border-bottom-left-radius: 6px;
    -webkit-box-shadow: 0px 1px 6px 0px black;
            box-shadow: 0px 1px 6px 0px black;
    border: none !important;
}
.group_of_heading {
    width: 100%;
    height: 56px;
    background: #3f88df;
}
.right_footer {
    margin-top: 0%;
    padding: 0;
    background: #ffffff;
    -webkit-box-shadow: 0 0 4px 0px black;
    box-shadow: 0 0 4px 0px black;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.border-1 {
    background: url(../images/home-pic/dakhla-2.png);
    background-repeat: no-repeat;
    -webkit-background-size: 208px 140px;
    background-size: 208px 140px;
    cursor: pointer;
    height: 180px;
    margin-bottom: 30px;
}
.border-2 {
    background: url(../images/home-pic/exam-2.png);
    background-repeat: no-repeat;
    -webkit-background-size: 208px 140px;
    background-size: 208px 140px;
    cursor: pointer;
    height: 150px;
    margin-bottom: 60px;
}
.border-3 {
    background: url(../images/home-pic/download-2.png);
    background-repeat: no-repeat;
    -webkit-background-size: 208px 140px;
    background-size: 208px 140px;
    cursor: pointer;
    height: 150px;
    margin-bottom: 60px;
}
.border-4 {
    background: url(../images/home-pic/progress-report-2.png);
    background-repeat: no-repeat;
    -webkit-background-size: 208px 140px;
    background-size: 208px 140px;
    cursor: pointer;
    height: 150px;
    margin-bottom: 60px;
}
.border.col-md-4 {
    margin-bottom: 32px;
}
.border-5 {
    background: url(../images/home-pic/branches-2.png);
    background-repeat: no-repeat;
    -webkit-background-size: 208px 140px;
    background-size: 208px 140px;
    cursor: pointer;
    height: 150px;
    margin-bottom: 60px;
}
.border-6 {
    background: url(../images/home-pic/about-us-2.png);
    background-repeat: no-repeat;
    -webkit-background-size: 208px 140px;
    background-size: 208px 140px;
    cursor: pointer;
    height: 150px;
    margin-bottom: 60px;
}
.row>center.padding {
    padding-left: 9%;
}
.slider-first {
    width: 1037px !important;
    height: 415px;
    margin: auto;
    margin-top: -35px !important;
}
.down_home_shadow {
    background-image: url(../images/slider/big-crop.png);
    -webkit-background-size: 1037px 3px;
            background-size: 1037px 3px;
    background-repeat: no-repeat;
}
.controllers-first{
    text-align: center;
}
.controllers-first span {
    display: inline-block;
    font-size: 30px;
    padding: 2px 8px;
    color: #fff;
    cursor: pointer;
    margin-top: -55px;
    margin-left: 15px;
    position: absolute;
    padding: 0px 10px;
}
.controllers-first span.next {
    margin-top: -55px;
    margin-left: 720px;
}
.controllers-first span:hover {
    background-color: #000
}
.slick-slider {
    margin-bottom: 50px !important;
}
.home_button {
    text-align: center;
    -webkit-box-shadow: 0 0 0px 0px black !important;
    box-shadow: 0 0 0px 0px black !important;
    border-bottom: 5px solid #18629c !important;
    -webkit-border-radius: 5px !important;
    border-radius: 7px !important;
    padding: 4px 26px !important;
    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #2695F3;
    border-color: #2695F3;
    border-bottom: 5px solid #18629c !important;
    background-color: #2695F3 !important;
}
.home_button:hover {
    border-bottom: 3px solid #18629c !important;
    background-color: #0d87e9 !important;
    border-color: #2695F3;
}
#contact_heading font {
    font-size: 40px;
}
.email {
    padding: 55px 32px;
    float: right;
    width: 610px;
    direction: rtl;
}
.email button[type='submit'] {
    padding: 0px 40px !important;
    margin-top: 50px;
    background: #2695F3;
    margin-bottom: 12px;
}
#contact_heading {
    padding-right: 23px;
    padding-top: 25px;
    float: right;
}
.email ::-webkit-input-placeholder { 
    font-family: Jameel;
    text-align: right;
}
.book_group font span {
    margin-left: 187px;
}
h3#book_heading {
    width: 24%;
    height: 44px;
    padding: 4px 34px;
    margin-top: 52px;
}
h3#book_heading_2 {
    width: 35%;
    height: 44px;
    font-size: 30px;
    padding: 3px 34px;
    margin-top: 52px;
}
h3#book_heading_3 {
    width: 38%;
    height: 48px;
    padding: 7px 34px;
    margin-top: 52px;
}
h3#book_heading font {
    font-size: 30px;
}
h3#book_heading_2 font {
    font-size: 30px;
}
h3#book_heading_3 font {
    font-size: 30px;
} 
.direction_Masala {   
    float: right !important;
    direction: rtl; 
}
.font-balance {
    font-family: Jameel;
    direction: rtl;
}
.modal-header .close {
    float: left;
}
.centerazition  {
    width: 205px;
    height: 210px;
}
.left_footer {
    background: #021f52;
    color: #fff;
    height: 515px;
}
h3#footer_h3 {
    color: #ffffff!important;
    font-weight: bolder !important;
    font-size: 27px !important;
    margin-top: 3px !important;
    padding-top: 15px;
    float: right;
    margin-right: 5%;
}
#skew ul li {
    float: right;
}
.direction_Masala {
    float: right !important;
    direction: rtl;
    width: 100%;
}
.nav-tabs {
     border-bottom: 0px solid #ddd !important; 
}
#skew ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 25px !important;
    margin-bottom: 2%;
}
.number_footer h3 span{
    font-size: 39px;
}
.part_3 a {
    float: left;
    font-size: 13px;
    color: #333;
    text-align: left;
    font-weight: bold;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    margin-bottom: 5px;
}
.shadow {
    width: 0;
    margin-top: 74px;
    right: 0;
    margin-right: -46px;
    height: 0;
    border-bottom: 15px solid transparent;
    border-left: 16px solid #008cae;
    position: absolute;
    z-index: 3;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.part_3 a .footer_social_text {
    display: inline-block;
    padding: 2px 0 0 0;
    text-align: center;
    width: 81%;
    color: #fff;
    font-size: 16px;
}
.part_3 a img {
    float: left;
    width: 19%;
    height: 34px;
}
.part_3 a.social_yt img {
    width: 28% !important;
    margin-top: -6px;
    margin-left: -9px;
    height: 48px;
}
.part_3 a.social_fb {
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background: #6181c3;
    text-align: center;
    overflow: hidden;
    color: #fff;
    height: 34px;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    width: 178px;
    margin-bottom: 8px;
}
.part_3 a.social_gp {
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background: #f0644d;
    text-align: center;
    overflow: hidden;
    color: #fff;
    height: 34px;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    width: 178px;
    margin-bottom: 8px;
}
.part_3 a.social_tt {
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background: #18bbf8;
    text-align: center;
    overflow: hidden;
    color: #fff;
    height: 34px;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    width: 178px;
    margin-bottom: 8px;
}
.part_3 a.social_yt {
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background: #ff2b2b;
    text-align: center;
    overflow: hidden;
    color: #fff;
    height: 34px;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    width: 178px;
    margin-bottom: 8px;
}
.part_3 a.social_yt .footer_social_text {
    width: 60% !important;
    margin-left: -8px;
}
.part_3 a.social_fb:hover {
    background-color: #4265ac;
}
.part_3 a.social_tt:hover {
    background-color: #0c9cd2;
}
.part_3 a.social_yt:hover {
    background-color: #e20a0a;
}
.part_3 a.social_gp:hover {
    background-color: #d93d24;
}
.down_footer {
    background: #3f88df;
}
#skew ul li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    background-color: #004c6f;
    border: 1px solid #f3f3f3;
    padding-left: 30px;
    padding-right: 27px;
    padding-top: 7px;
    padding-bottom: 5px;
}
#menu2 .panel-heading {
    background-color: #2196f3;
    border-color: #2196f3;
    text-align: right;
}
.panel-primary {
    border-color: #2695F3;
}
#menu3 h4.col-md-offset-1 {
    line-height: 1.5;
}
#menu2 .col-md-4 {
    width: 312px;
    margin-right: 18px;
    height: 227px;
    float: right;
    margin-bottom: 71px;
}
font#Qtb {
    font-size: 30px;
    color: blue;
    margin-left: 3px;
}
.book_group div {
    font-size: 20px;
    margin-left: 27px;
    color: red;    
    margin-right: 34px;
}
.book_group {
    margin-top: 0px;
    float: right;
    direction: rtl;
    margin-right: 4%;
    width: 100%;
}
/*@media only screen and (max-device-width: 360px) and (-webkit-min-device-pixel-ratio: 3) and (device-aspect-ratio: 9/16) {
    {

    }
}*/
.solve {
    direction: rtl;
    float: right !important;
}
/*
@media only screen and (max-width: 732px){
    .branches_page {
        margin-right: 52px !important;
    }
}
@media only screen and (max-width: 657px){
    .branches_page {
        margin-right: 25px !important;
    }
}

@media only screen and (max-width: 640px) and (orientation: landscape) {
        h3#book_heading {
        width: 42% !important;
    }
}
@media only screen and (max-width: 732px) and (orientation: landscape) {
        h3#book_heading {
        width: 39%;
    }
}
@media only screen and (max-width: 640px) and (orientation: landscape) {
    .branches_page {
        margin-right: 48px !important;
    }
}
@media only screen and (max-width: 732px) and (orientation: landscape) {
        h3#book_heading_2 {
        width: 67%;
    }
}
@media only screen and (max-width: 640px) and (orientation: landscape) {
        h3#book_heading_2 {
        width: 69%;
    }
}
@media only screen and (max-width: 732px) and (orientation: landscape) {
        h3#book_heading_3 {
        width: 71%;
    }
}
@media only screen and (max-width: 732px) and (orientation: landscape) {
    #menu3 .shadow {
        margin-right: 51px !important;
    }
}*/
.part_3 .col-md-12 {
    padding-right: 15px !important;
    padding-left: 15px !important;
}
.full {
    height: 74px;
    position: relative;
    padding: 0px !important;
    margin: 0px;
}
.btn-solution {
    padding: 7px 25px;
    background: #2695F3;
    border-color: #2695F3;
}
.btn-solution:hover, .btn-solution:active, .btn-solution:focus {
    background: #0d87e9 !important;
    border-color: #0d87e9 !important;
    color: white;
}
#header {
    position: relative;
}
#menu1 audio {
    position: absolute;
}
#menu1 .panel-body {
    padding: 10px;
}
.panel-body {
    position: relative;
}
.drive-viewer.drive-viewer-embed .drive-viewer-shadow {
    background-color: transparent !important;
    opacity: 0 !important;
    border: 0 !important;
}/*
@media only screen and (max-width: 657px){
    .admission_page_2 {
        margin-top: 1201px !important;
    }
}
@media only screen and (max-width: 375px){
    .admission_page_2 {
        margin-top: 1402px !important;
    }
}
@media only screen and (max-width: 657px){
    .admission_page_3 {
        margin-top: 2901px !important;
    }
}
@media only screen and (max-width: 375px){
    .admission_page_3 {
        margin-top: 3252px !important;
    }
}
@media only screen and (max-width: 640px) and (orientation: landscape){
    .admission_page_2 {
        margin-top: 751px !important;
    }
}
@media only screen and (max-width: 640px) and (orientation: landscape){
    .admission_page_3 {
        margin-top: 1801px !important;
    }
}
@media only screen and (max-width: 732px) and (orientation: landscape){
    .admission_page_2 {
        margin-top: 752px !important;
    }
}
@media only screen and (max-width: 732px) and (orientation: landscape){
    .admission_page_3 {
        margin-top: 1801px !important;
        marign-left: 1323px !importaalflajfslkajsfdlk
    }
}*/
.faculty_heading.admission_heading_1, .faculty_heading.admission_heading_2, .faculty_heading.admission_heading_3 {
    margin-right: -15px !important;
}
.setting_branches_3 {
    position: relative;
    direction: rtl;
    padding-right: 8%;
    padding-top: 0%;
}
#heading_setting {
    padding: 10px 41px;
    background: #00acfc;
    margin-bottom: 0px !important;
    color: white;
    float: right;
    margin-right: -15px;
    direction: rtl;
    -webkit-box-shadow: 0 0 7px 2px #003954;
    box-shadow: 0 0 7px 2px #003954;
}
#heading_setting font {
    font-size: 30px;
}
.admission_heading_2 {
    padding: 10px 41px !important;
    width: 257px !important;
    font-size: 30px;
}
.admission_heading_3 {
    padding: 10px 41px !important;
    font-size: 30px;
    width: 206px !important;
}
.line-height_problem {
    line-height: 1.6 !important;
}
.audio_h5 {
    z-index: 10;
    color: black;
}
.ul-margin {
    direction: rtl;
    float: right;
    width: 100%;
    padding: 9px 9% 9px 2%;
}
li.solve a font {
    font-size: 22px;
}
.home_button font {
    font-size: 22px;
}
ul.ul-margin font {
    font-size: 28px;
    line-height: 2;
}
.ol-margin {
    direction: rtl;
    float: right;
    padding: 9px 12% 9px 2%;
}
ul.footer_links li font {
    font-size: 22px;
}
.line-height_problem font {
    font-size: 29px;
    background: #004D6F;
    color: white;
    padding: 3px 23px;
}
ol.ol-margin font {
    font-size: 25px;
    line-height: 2;
}
#setting_branches_2 {
    width: 181px;
    padding: 8px 37px;
}
.branches_heading {
    padding-top: 8px;
    padding-left: 31px;
    font-size: 28px;
    padding-bottom: 8px;
}
#setting_branches_1 {
    width: 249px;
    padding: 8px 37px;
}
h3#setting_branches_1 font, h3#setting_branches_2 font {
    font-size: 30px;
}
p.local_branches_p {
    margin-top: 23px;
    margin-right: 15px;
    padding-bottom: 415px;
}
.branches_img {
    width: 90px;
    margin-top: 1px;
    margin-left: 59px;
}
p.local_branches_p>font {
    font-size: 30px;
    color: blue;
    float: right;
    text-align: right;
    margin-right: 3%;
}

.branches_p {
    font-size: 30px;
    margin-top: 8px;
    color: blue;
}
.branches_small_heading {
    padding-right: 25px;
    padding-top: 22px;
    font-size: 30px;
    color: blue;
}
.faculty_heading {
    background: #00acfc;
    padding: 13px 34px;
    width: 348px;
    display: block;
    float: right;
    margin-left: 100%;
    margin-right: -30px;
    color: white;
    -webkit-box-shadow: 0 0 7px 2px #003954;
            box-shadow: 0 0 7px 2px #003954;
}
.resize_none {
    resize: vertical !important;
}
#header .col-md-2 p,#header .col-md-3 p {
    margin: 0px 0 2px !important;
}
#dates {
    position: absolute;
    left: 1%;
    bottom: 0;
    width: 100%;
}
#date_english {
    font-weight: 500;
    color: #3e4095;
    font-size: 100%;
    display: inline-block;
}
/*#date_islamic {
    font-family: jameel;
    font-size: 100%;
    color: #3e4095;
    display: inline-block;
}*/
a.my_email {
    position: absolute;
    right: 0;
    margin-top: 0.9%;
    margin-right: 2%;
    font-size: 122%;
    color: #fff;
}
.drive-viewer-toolstrip {
    display: none !important;
}
.drive-viewer-icon.drive-viewer-nav-icon {
    display: none;
}
.top-main-header p {
    display: inline;
    font-size: 18px;
    color: darkblue;
}
#menu2 .counting img {
    height: 160px;
}
#footer ul.footer_links a {
    text-decoration: none;
    color: #333;
}
#footer ul.footer_links {
    list-style-type: none;
    padding: 0;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
            -webkit-column-gap: 0;
               -moz-column-gap: 0;
                    column-gap: 0;
}
#footer .footer_social .fa-facebook {
    color: #3b5998;
    padding: 0 2%;
}
#footer .footer_social .fa-twitter {
    color: #00aced;
    padding: 0 2%;
}
#footer .footer_social .fa-youtube {
    color: #bb0000;
    padding: 0 2%;
}
#footer .footer_social .fa {
    text-decoration: none;
}
#footer .footer_social {
    margin-top: 15%;
}
.left_footer p{
    line-height: 19px;
}
.left_footer h4{
    color: #fff;
}
.right_footer a.same {
    border: 2px solid #000;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    display: inline-block;
    padding: 4px 12px;
    text-transform: uppercase;
    color: #000;
}
.right_footer a.same:hover {
    background-color: #31b3bc;
    border-color: #31b3bc;
}
.right_footer a.same:hover i {
    color: white;
}
.right_footer a.youtube:hover {
    background: red;
    border: red;
}
.right_footer a.controll {
    padding: 4px 10px;
    margin-left: 3px;
    margin-bottom: 30px;
}
.right_footer a.square{
    border: 2px solid #fff;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    padding: 6px 12px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10%;
}
.right_footer a.facebook:hover {
    background: #2F86C6;
    border-color: #2F86C6;
}
.right_footer a.twitter:hover{
    background: #3BBFDC;
    border-color: #3BBFDC;
}
.right_footer a.google-plus{
    padding: 4px 8px;
}
.right_footer a.google-plus:hover{
    background: #DB621E;
    border-color: #DB621E;
}
.right_footer a.linkedin:hover{
    background: #2C62D7;
    border-color: #2C62D7;
}
.right_footer a.square:hover{
    color: white;
    background: #34B2BB; 
    border-color: #34B2BB;  
}
.down_footer p {
    width: 100%;
    text-align: center;
    color: white;
    padding: 5px 0px;
    font-size: 19px;
    margin: 0px;
    direction: rtl;
}
.right_footer h4 {
    color: black;
    padding: 10% 0;
    margin-right: 26px;
    font-weight: 500;
    font-size: 20px;
}
.right_footer a {
    color: #aaa;
    font-size: 20px;
    text-decoration: none;
}
.right_footer a:hover{
    color: black;
    text-decoration: none;
}
font.footer_detail {
    font-size: 18px;
    text-align: right;
    direction: rtl;
    float: right;
}
footer .col-md-12 {
    padding: 0;
}
.panel-heading {
    padding-left: 13px;
}
.zoom {
    direction: rtl;
    float: right;
}
.progress-report {
    padding: 1px 15% !important;
}
.heading_style {
    margin: 0;
    background: #004c6f;
    color: white;
    padding: 1%;
    font-size: 124%;
}
.number-1 {
    float: left;
    padding-left: 1%;
}
.number-2 {
    padding-right: 2%;
    float: right;
    font-family: jameel;
}
.number-3 {
    float: right;
    padding-right: 9px;
}
.back {
    padding: 10px 15px;
    border: 1px solid #004c6f;
    display: block;
    position: fixed;
    bottom: 0px !important;
    text-decoration: none !important;
    color: #fff;
    background-color: #00acfc;
    right: 0;
    z-index: 122;
    margin: 10px;
    display: none;
} 
.social a {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    opacity: 0.8;
    width: 37px;
    -webkit-transition: all ease-in-out 500ms;
    -webkit-transition: all ease-in-out 200ms;
    -o-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms;
}
.social {
    position: fixed;
    left: 0;
    top: 40%;
    z-index: 1001;
}
.fixed {
    top: 0;
    z-index: 1000;
    width: 80.1%;
    border: 0px;
    position: fixed;
}
.goog-te-gadget-simple {
    margin: 1.3% 0px !important;
    padding: 8px 15px !important;
    color: white !important;
    background: #D9552B !important;
    -webkit-border-radius: 6px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 5px 10px #133e40;
    box-shadow: inset 1px 1px 10px #611e;
    border: none !important;
    width: 100%;
}
.goog-te-gadget-simple .goog-te-menu-value {
    color: white !important;
}
.goog-te-menu-value span {
    color: white !important;
}
.changes font {
    background: #004D6F;
    color: white;
    font-size: 28px;
    padding: 0px 11px;
}
.first_floor_image .img {
    background: url(../images/Fixed-Images/4.jpg) center;
}
.second_floor_image .img {
    background: url(../images/Fixed-Images/5.jpg) center;
}
.third_floor_image .img {
    background: url(../images/Fixed-Images/6.jpg) center;
}
.font_changing {
    font-size: 28px
}
.fixed_img .img {
    width: 100%;
    margin-top: -23px;
    margin-bottom: 49px;
    background-position: center center;
    overflow: hidden;
    padding: 20% 0;
    min-width: 100%;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    -webkit-background-size: contain;
    background-size: contain;
}
.social_setting_1 {
    width: 190px;
    float: right;
    margin-bottom: 6px;
    direction: ltr;
    background: #ff2b2b;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    cursor: pointer;
}
.youtube {
    color: white !important;
    padding: 6px 8px !important;
    background: #D13E39;
    -webkit-border-top-left-radius: 4px !important; 
            border-top-left-radius: 4px !important;
    -webkit-border-bottom-left-radius: 4px;
            border-bottom-left-radius: 4px;
}
.social_setting_2 {
    width: 190px;
    float: right;
    margin-bottom: 6px;
    direction: ltr;
    background: #6180C2;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    cursor: pointer;
}
.facebook {
    color: white !important;
    padding: 6px 11px !important;
    background: #3E5A98;
    -webkit-border-top-left-radius: 4px !important; 
            border-top-left-radius: 4px !important;
    -webkit-border-bottom-left-radius: 4px;
            border-bottom-left-radius: 4px;
}
.social_setting_3 {
    width: 190px;
    float: right;
    margin-bottom: 6px;
    direction: ltr;
    background: #18bbf8;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    cursor: pointer;
}
.twitter {
    color: white !important;
    padding: 6px !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#54A8EA), to(#3F89C5)) ;
    background: -webkit-linear-gradient(#54A8EA, #3F89C5) ;
    background: -o-linear-gradient(#54A8EA, #3F89C5) ;
    -webkit-border-top-left-radius: 4px !important; 
            border-top-left-radius: 4px !important;
    -webkit-border-bottom-left-radius: 4px;
            border-bottom-left-radius: 4px;
}
.footer_social font {
    color: white;
    text-align: center;
    padding-left: 30px;
}
.social_setting_1:hover {
    background: #e20a0a;
}
.social_setting_2:hover {
    background: #4265ac;
}
.social_setting_3:hover {
    background: #0c9cd2;
} 
.background-size-control {
    width: 7%;
}
.container.padding-right {
    padding-bottom: 20px;
}